.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__fieldset {
	border: none;
	width: var(--element-width);
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 8px var(--dark-blue-shadow);
	padding: 1.25em;
	gap: 1em;
}

.form__button {
	font-family: var(--font-family);
	color: white;
	appearance: none;
	background-color: var(--green);
	border-style: none;
	border-radius: 4px;
	text-transform: uppercase;
	padding: 1.25em 0 1em 0;
	font-weight: 600;
	box-shadow: 0 4px var(--green-shadow);
	font-size: 0.95em;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
}

.form__button:hover,
.form__button:focus,
.form__button:focus-visible {
	filter: brightness(120%);
}

.form__small {
	padding: 0 2em;
	font-size: 0.75em;
	text-align: center;
	color: var(--grayish-blue);
	font-weight: 500;
}

.form__link {
	text-decoration: none;
	color: var(--red);
	font-weight: bold;
}
