.notification {
	display: flex;
	justify-content: center;
	margin-bottom: 1.75em;
	width: 100%;
}

.notification__body {
	background-color: var(--blue);
	color: white;
	width: var(--element-width);
	border-radius: 8px;
	padding: 1.5em 3em;
	text-align: center;
	box-shadow: 0 8px var(--dark-blue-shadow);
}

@media (min-width: 900px) {
	.notification {
		justify-content: flex-start;
	}
}
